@*<div>
    <table id="t01">
        <thead>
        <th>Tytuł</th>
        <th>Treść</th>
        <th>Autor</th>
        <th>Data dodania</th>
        </thead>
        @foreach (var item in ViewBag.userdetails)
        {

            <tr>
                <td>
                    @item.tytul
                </td>
                <td>
                    @item.tresc
                </td>
                <td>
                    @item.autor
                </td>
                <td>
                    @item.data_dodania
                </td>
            </tr>

        }

    </table>
</div>
<style>
    table#t01 {
        width: 100%;
        background-color: #f1f1c1;
    }

        table#t01 tr:nth-child(even) {
            background-color: #eee;
        }

        table#t01 tr:nth-child(odd) {
            background-color: #fff;
        }

        table#t01 th {
            color: white;
            background-color: blue;
        }

    table, th, td {
        border: 1px solid black;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 15px;
    }
</style> 

<hr />*@
<div class="all">
@foreach (var item in ViewBag.userdetails)
{
    <div class="one-topic">
        <div class="topic-author">
            <div class="topic-data">@item.data_dodania</div>
            <div class="topic-username">@item.autor</div>
        </div>
        <div class="topic-rest">
            <div class="topic-name">@item.tytul</div>
            <div class="topic-contents">@item.tresc</div>
        </div>
    </div>
}
</div>

<style>
    .all{
        margin-top: 3px;
    }
    .one-topic {
        width: 100%;
        font-size: 15px;
        line-height: 1.5;
        display: block;
        border: 1px;
        font-weight: bold;
    }

    .topic-author {
        width: 15%;
        min-height: inherit;
        float: left;
    }

    .topic-rest {
        width: 85%;
        min-height: inherit;
        float: left;
    }

    .topic-data {
        width: 100%;
        height: 30px;
        background-color: #666666;
        border-top-left-radius: 10px;
        border-bottom: solid black;
        color: white;
        padding: 4px;
    }

    .topic-username {
        width: 100%;
        height: 80px;
        border-bottom-left-radius: 10px;
        border-bottom: solid;
        background-color: #eeeeee;
        text-align: center;
        padding-top: 26px;
    }

    .topic-name {
        width: 100%;
        height: 30px;
        background-color: #666666;
        border-top-right-radius: 10px;
        border-bottom: solid black;
        color: white;
        padding: 4px;
        border-left: solid black;
    }

    .topic-contents {
        width: 100%;
        min-height: 80px;
        background-color: yellow;
        border-bottom-right-radius: 10px;
        margin-top: 0px;
        margin-bottom: 3px;
        margin-left: 0px;
        margin-right: 0px;
        border-bottom: solid;
        background-color: #eeeeee;
        padding: 4px;
        border-left: solid black;
    }
</style>